.Messi {
  font-size: 120px;
  font-weight: bolder;
}

.goals {
  font-weight: 900;
  font-size: 35px;
}

.data {
  font-weight: bold;
  font-size: 60px;
}

.q {
  font-weight: 600;
  font-size: 25px;
}

.who {
  font-size: 40px;
  font-weight: 700;
  color: rgb(71, 134, 198);
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 1000;
  padding: 15px;
}

.biotext {
  font-size: 27px;
  font-weight: 600;
  text-align: justify;
}

.subtitles {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-weight: 600;
}

.footertext {
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.hero-text {
  position: absolute;
  inset: 0;
  /* top:0 right:0 bottom:0 left:0 */
  display: flex;
  align-items: end;
  justify-content: center;
  color: white;
  font-size: 48px;
  font-weight: 500;
  text-align:end;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 2;
  pointer-events: none;
  padding-bottom: 20px;
}