@media (max-width: 700px) {
  .hero {
    height: 30vh;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    padding-top: 20px;
  }
}

@media (max-width: 700px) {
  .card-wrapper {
    order: 1;
  }
  .right {
    order: 2;
  }
}

@media (max-width: 700px) {
  .card {
    width: 200px;
    margin: 0 auto;
  }
}


@media (max-width: 700px) {
  .Messi {
    font-size: 40px;
  }
  .goals {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .skills .skill-item:hover {
    position: static;
    width: 100%;
    height: 120px;
  }
  .skills:hover .skill-item:not(:hover) {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (max-width: 700px) {
  .q {
    font-size: 16px;
  }
  .who {
    font-size: 22px;
  }
}

@media (max-width: 700px) {
  .childpic {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .biotext {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .container,
  .bio {
    padding: 10px;
  }
}

@media (max-width: 700px) {
  .footer {
    border-radius: 0;
    height: auto;
    padding: 20px 0;
  }
}

@media (max-width: 600px) {
  .Messi {
    font-size: 60px;
  }
  .data {
    font-size: 35px;
  }
  .hero-text {
    font-size: 28px;
  }
}

@media (max-width: 700px) {
  .skills {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 120px);
  }
}

@media (max-width: 700px) {
  .track img {
    height: 80px;
  }
}

@media (max-width: 900px) {
  .bio {
    flex-direction: column;
  }
  .childpic {
    width: 100%;
  }
}